/* Light Mode Styles */
:root{
  --randomColor : #006ea5;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--randomColor);
}

 /* header {
  background-color: #333;
  color: #fff;
} */

nav {
  z-index: 10;
  overflow: hidden;
  /* background-color: #333; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  min-height: 55px;
  max-height: 86px;
  /* height: 6.3vw; */
  /* background blur  */
  background: rgba(0, 0, 0, 0.701);
  backdrop-filter: blur(15px);
}
nav ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  position: relative;
  align-items: center;
}
 nav ul a {
  flex: 1;
  padding-top: 2px;
}
nav ul li a img{
  border-radius: 50%;
}
nav ul li {
  transform:scale(1.55) ;
  flex: 1;
  /* margin-top: 15px;
  margin-left: 25px; */
  position: relative;
  align-items: center;
}
nav ul li a {
  color: #fff;
  text-decoration: none ;
  /* font-size: 18px; */
  font-size: 2vm;
}
.nav-btn{
  transform: scale(0.6);
  padding: 0.5rem;
  color: #fff;
  background-color: #202020ae;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 0.5rem;
}
/* .nav_items,li{
  font-size: 2vm;
} */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.2rem;
  left: 0;
  background-color: var(--randomColor);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-decoy{
  height: 110px;
  min-height: 55px;
  max-height: 86px;
}
/* main {
} */

.col{
  
  text-align: center;
  display: flex;
}
.home_main{

  flex-wrap: wrap;
}
.col1 {
  /* flex: 1;  */
   /* distributes space on the line equally among items */
}

.home {
  text-align: center;
}
.home_text {
   font-size: medium;
  /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}
.home_img {
  align-items: center;
}
.home_img img{
  filter:brightness(0.9);
  border-radius: 50%;
}
section {
  margin: 10px;
  padding: 50px;
  background-color: #ffffffda;
  box-shadow: -7px 8px 10px rgba(250, 250, 250, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  margin-bottom: 30px;
}
section h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

section p {
  line-height: 1.6;
  font-size: 16px;
}
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submit-btn{
  transform: translateX(90px) translateY(18px);
}
.copyright{
  background-color: #171717eb ; 
  color: #fff;
  text-align: center;
  padding-top:25px;
  padding-bottom: 15px;
  font-size: medium;
}

.footer__images{
  display: flex;
  width:100%;
  justify-content: center;
}
.socialhandle img{
  z-index: -1;
  width:40px;
  margin:10px;
  margin-bottom: 20px;
  transform: translateY(11px);
  transition:0.6s;
  }
  .socialhandle img:hover{
      transform:scale(1.2) ;
  }
  #mailimg{
      width:40px;
  }


/* Dark Mode Styles */

/* .dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  color: #fff;
} */
.dark-mode nav{
  background: rgba(0, 0, 0, 0.591);
}
/* .dark-mode header {
  background-color: #333;
  color: #fff;
} */

.dark-mode nav ul li a {
  color: #fff;
}

.dark-mode section {
  border: 2px solid rgba(255, 255, 255, 0.158);
  background-color: #020202c4;
  box-shadow: -7px  8px 10px rgb(0, 0, 0);
}

.dark-mode section h1,
.dark-mode section h2,
.dark-mode section h3,
.dark-mode section form,
.dark-mode section p {
  color: #fff;
}
.dark-mode .copyright{
  background-color: #000000e6;
}
@media screen and (max-width : 760px) {
  nav ul li{
    transform: scale(0.95);
  }
}