/* Light Mode Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #002ab5;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
}
nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
nav ul {
  list-style-type: none;
  /* margin: 10; */
  /* padding: 10; */
  display: flex;
}
/* nav ul a {

} */
nav ul li {
  margin-top: 15px;
  margin-left: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none ;
  font-size: 18px;
}
main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}



section {
  margin: 10px;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}
section h2 {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 20px;
}

section p {
  line-height: 1.6;
  font-size: 16px;
}
.overlap{
  margin: 2px;
}
.copyright{
  background-color: #333 ; 
  color: #fff;
  text-align: center;
  padding:25px 0;
  font-size: x-large;
}

.footer__images{
  display: flex;
  width:100%;
  justify-content: center;
}
.socialhandle img{
  width:45px;
  margin:10px;
  margin-bottom: 20px;
  transform: translateY(10px);
  transition:0.5s;
  }
  .socialhandle img:hover{
      transform:scale(1.2) ;
  }
  #mailimg{
      width:45px;
      
  }

/* Dark Mode Styles */

.dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  color: #fff;
}

.dark-mode header {
  background-color: #333;
  color: #fff;
}

.dark-mode nav ul li a {
  color: #fff;
}

.dark-mode section {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode section h1,
.dark-mode section h2,
.dark-mode section h3,
.dark-mode section form,
.dark-mode section p {
  color: #fff;
}
